    	

    		    	

/* HOLLIS+ Implementation - Alon Botvinik */

/* Smaller body with maximum width */
body {
    margin: 0 auto;
    /* max-width: 1150px; */
}

/* Harvard link colors */
a:link, a:visited, a:active {
	color: #a51c30;
}
a:hover {
	color: #000000;
}

/* 201409180fix for issue that came with 4.8 that caused page to jump to the right horizontally */
#exlIdssoLogin { 
  display: none;
}

/* Border of the page */
#contentEXL {
    border-right: 1px solid #CFCFCF !important;
    border-left: 1px solid #CFCFCF !important;
    border-bottom: 1px solid #CFCFCF !important;
    -webkit-box-shadow: 0 8px 6px -6px #CFCFCF;
    -moz-box-shadow: 0 8px 6px -6px #CFCFCF;
    box-shadow: 0 8px 6px -6px #CFCFCF;
}
#content {
    border-right: 1px solid #CFCFCF !important;
    border-left: 1px solid #CFCFCF !important;
    border-bottom: 1px solid #CFCFCF !important;
    -webkit-box-shadow: 0 8px 6px -6px #CFCFCF;
    -moz-box-shadow: 0 8px 6px -6px #CFCFCF;
    box-shadow: 0 8px 6px -6px #CFCFCF;
}

/* Home page text color change */
#exlidHomeContainer {
	color: #333333;
	width:auto;
}
.EXLHomeNewsContainer {
	padding-left:10px;
	font-size: 14px;
} 
/* Positioning of the Main Menu and User Menu */
#exlidUserAreaTile {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 4;
}
#exlidUserAreaTile ul {
    padding-top: 8px;
}
#exlidUserAreaRibbon li {
	font-weight:bold;
	padding-top: 5px;
	background-image: none;
}
#exlidUserAreaRibbon li a{
	color: #a51c30;
}
#exlidUserAreaRibbon li a:link a:visited {
	color: #a51c30;
}
#exlidUserAreaRibbon li a:hover {
	color: #000000;
	text-decoration:none;
}
#exlidUserAreaRibbon li span.EXLUserAreaStart {
	background-image: none;
}
#exlidUserAreaRibbon li.EXLUserName  {
	font-weight: normal;
}
#exlidUserAreaRibbon.EXLEShelfTileGuest li span.EXLUserNameDisplay {
	background-image: url(../HVD/guest_icon.png);	
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: 23px;
	min-width: 30px;
	float: left;
	margin-left: 0.3em;
	margin-top: 0px;
	padding-left:25px;
}
#exlidUserAreaRibbon li span.EXLMyShelfStarSelected {
	background-image: none;
	width: 6px;
}
/* #exlidUserAreaRibbon li#exlidMyAccount  {
	display:none;
} */
#exlidMainMenuTile {
    position: absolute;
    right: 0;
    top: 65px;
    vertical-align: text-top;
    width: 49em;
    margin-top: 0.8em;
    margin-bottom: 0em;
}
#exlidMainMenuRibbon {
	padding-top: 9px;
}


/* Home page changes - one column */
#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 {
	width: 100%;
}

/* Search Box */
#scopesList {
	display:none;
}
#exlidSearchTile {
	background-image: url(../images/_blank.png);
	background: #8C8179; /* Old browsers */
	background: -moz-linear-gradient(top,  #b2a399  0%, #8C8179 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2a399 ), color-stop(100%,#8C8179)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b2a399  0%,#8C8179 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b2a399  0%,#8C8179 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b2a399  0%,#8C8179 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b2a399  0%,#8C8179 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2a399', endColorstr='#8C8179',GradientType=0 ); /* IE6-9 */
	height: 90px;
	border-top: 0px;
	border-bottom: 0px;
}
.EXLClearSimpleSearchBoxButtonClose {
	height: 30px;
}
#exlidHeaderSearchLimits {
	background-color: #8C8179;
	color: #ffffff;
	border-bottom:0px;
}
#exlidHeaderSearchLimits select{
	border:none;
	width: 150px;
}
#exlidHeaderSearchLimits fieldset {
	padding-top: 0px;
	color: #ffffff;
}
.EXLHeaderSearchLimitsFieldsTitle {
	margin-right: 7px;
}

/* Search Ribbon */
#exlidSearchRibbon {
    margin-top: 15px;
}
#exlidSearchRibbon div.EXLSearchFieldRibbon {
	border: 1px solid #ffffff;
	height:30px;
}	
	
/* Search links */
/* Shift the Advanced Search link up to accomodate New Search */
.EXLSearchFieldRibbonAdvancedSearchLink {
	width:7%;
	margin-top: 6px;
}
.EXLSearchFieldRibbonBrowseSearchLink {
	width:7%;
}
.EXLSearchFieldRibbonAdvancedSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks {
	padding-top: 5px;
	font-size:100%;
	color: #ffffff;
	font-weight:bold;
}
.EXLSearchFieldRibbonBrowseSearchLink a.EXLSearchFieldRibbonAdvancedTwoLinks {
	padding-top: 5px;
	font-size:100%;
	color: #ffffff;
	font-weight:bold;
}


/* Search Tabs */
#exlidSearchTabs {
	height: 30px;
}

#exlidSearchTabs li {
	border: 0px;
	padding-top: 6px;
	height: 22px;
	background-image: url(../images/_blank.png);
	background-color: #293352;
	margin-right: 6px;
	border-top-color: #293352;
	border-top-style: solid;
	border-top-width: 2px;
	border-right-color: #293352;
	border-right-style: solid;
	border-right-width: 2px;
	padding-left: 20px;
	padding-right: 20px;
}
#exlidSearchTabs li.EXLSearchTabSelected {
	border: 0px;
	padding-top: 6px;
	height: 22px;
	background-image: url(../images/_blank.png);
	background-color: #F3F3F1;
	margin-right: 6px;
	border-bottom-width: 2px;
	border-bottom-color: #F3F3F1;
	border-bottom-style: solid;
	padding-left: 20px;
	padding-right: 20px;	
}
#exlidSearchTabs li.EXLSearchTabSelected a:link, a:visited {
	color: #000000;
	font-weight: bold;
}
#exlidSearchTabs li.EXLSearchTabSelected a {
	color: #000000;
	font-weight: bold;
}
#exlidSearchTabs li a {
	color: #ffffff;
	font-weight: bold;
}
#exlidSearchTabs li a:link, a:visited {
	color: #ffffff;
	font-weight: bold;
}
/* basic search input box */
.EXLSearchFieldRibbonFormSearchFor {
	width:95%;
}
.EXLSearchFieldRibbonFormSearchFor input.EXLSearchFieldMaximized {
	outline: none;
}

/* begin advanced search and browse */
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks {
	line-height: 30px;
}
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormLinks a {
    padding-right: 22px;
}
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup1 {
	width: 44em;
}
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormFieldsGroup2 {
	border:none;
}
#exlidAdvancedSearchTile {
	border: none;
	background-image:none;
	background-color: #FFFFFF;
}
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonPreFilters {
	border: none;
	background: #F3F3F1; 
}
#exlidAdvancedSearchRibbon div.EXLBrowseFieldRibbon {
	border: none;
	background: #8C8179; /* Old browsers */
	background: -moz-linear-gradient(top,  #b2a399  0%, #8C8179 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2a399 ), color-stop(100%,#8C8179)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b2a399  0%,#8C8179 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b2a399  0%,#8C8179 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b2a399  0%,#8C8179 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #b2a399  0%,#8C8179 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2a399', endColorstr='#8C8179',GradientType=0 ); /* IE6-9 */
	padding: 1.5em 1em 0.5em 1em;
}

/* ---To remove the extra little white box around the search Button in Advanced Search--- */
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormSubmitSearch {
	border:none;
    clear: none;
    display: inline;
    float: left;
    margin-top: -1px;
	background-image: none;
	width: 10.5em;
	margin-right: 10px;	
}
#exlidAdvancedSearchRibbon input.submit {
	background-color: #a51c30;
	background-image: none;
	height: 30px;
}
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbonFormClearSearch input {
	background-image:none;
	background-color:#FFFFFF;
	color:#a51c30;
	background-image: url("../../images/icon_clear_search.png");
	background-position: left;
	background-repeat: no-repeat;
	text-align: left;
	padding-left: 23px;
}
/* prevent width of title option from changing after starts-with is chosen */
select#exlidInput_scope_1, select#exlidInput_scope_2, select#exlidInput_scope_3, select#exlidInput_scope_4 {
    width: 145px;
}
[id^="exlidInput_scope"] {
min-width: 0%;
}
#exlidAdvancedSearchRibbon div.EXLAdvancedSearchFormRow fieldset span.EXLBooleanOperatorInput {
	display:inline;
}
.EXLSearchFieldRibbonFormSelectedBrowse {
	background-color: #FFFFFF;
	border:none;
	margin-right: 20px;
}
.EXLSearchFieldRibbonFormBrowseSearchFor {
	border: none;
	width: 50%;
}

/* end advanced search and browse */
#exlidHeaderSystemFeedback  {
	border-bottom:0px;
}
#exlidHeaderSystemFeedback strong {
	background-color:#FFDB6D;
	background-image: none;
	border-top:0px;
	border-bottom:0px;
}
#exlidHeaderSystemFeedback .HVD_results_signin_reminder strong {
	background-color:#fff;
	background-image: none;
	border-top:0px;
	border-bottom:0px;
}


/* Result titles */
.EXLResultsList h2 {
	font-size: 115% 
	/* font-size: 12px; */
}
.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy {
	width: 14em;
}
.EXLResultsHeader div.EXLResultsNumbers div.EXLResultsSortBy ul {
	width: 8em;
}

/* navigation elements */

.EXLBackToResults  {
	font-size:14px;
}
.EXLBackToResults a {
	font-size:14px;
	background-image: url(../../uploaded_files/HVD/backdoublebracket.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-left: 40px;
	font-weight:bold;
}
body.EXLFullView div.EXLBackToResults {
	font-size:100%;
}
.EXLResultsHeader div.EXLResultsNumbers {
	float: left;
	width: 80%;
	line-height: 20px;
	border-bottom: solid 1px #e4e4e4;
	border-top: solid 1px #e4e4e4;
	border-left: solid 1px #e4e4e4;
	padding: 5px 0px 5px 0px;
	background: #fafafa;
	margin: 0px -1px 0px -2px;
}
.EXLResultsHeader div.EXLResultsNavigation {
	font-size: 14px; 
	margin: 0px;
	height: 20px;
	line-height: 20px;
	border-bottom: solid 1px #e4e4e4;
	border-top: solid 1px #e4e4e4;
	border-right: solid 1px #e4e4e4;
	padding: 5px 0px 7px 0px;
	background: #fafafa;
	float: right;
	width: 20%;
	text-align: right;
}
.EXLResultsHeader div.EXLResultsNavigation img {
	padding-left:6px;
	padding-right: 6px;	
}
.EXLPrevious{
	padding-right:5px;
}
.EXLNext {
	padding-left: 5px;
}
.EXLResultsList {
	border-top: none;
/*	padding-top: 10px;*/
}

/* Top level Facet above Brief results */
.EXLMyAccountRanking {
	display: none;
}
#exlidTopLevelFacetsTile div.EXLToplevelFacetsContainer strong {
        margin-top: 0.15em;
		padding-left:0;
}
/* Banner showing what facets have been selected */
.EXLRefinementRibbonWithExclude {
	/* background-color: #C3D7A4; */
	background-color: none;
	/* margin-left: -2px;
	border-right: 2px solid #C3D7A4; */
	padding-top: 2px;
} 
.EXLRefinementRibbonWithExclude span.EXLRefinementsListTitle {
	margin-left: 0;
}


.EXLRemoveRefinement {
	background-color: #F4EDCA;
}
/* Left side Facets design changes */
.EXLFacetContainer {
	margin-top: 0px;
	padding: 0px;
	border: none;	
}

.EXLFacetContainer ol li {
	padding: 3px 0px 0px 10px;
	font-size: 75%;
}
.EXLFacetContainer h1 {
	border-top: none;
	line-height: 20px;
	margin-bottom: 10px;
	padding: 5px 0px 5px 5px;
}
.EXLFacetContainer h3 {
	padding: 5px 0px 5px 5px;
	line-height: 20px;
}
.EXLFacetContainer h4 {
	padding-bottom: 3px;
	font-size: 90%;
	border-bottom-width: 1px;
	border-bottom-color: #e4e4e4;
	border-bottom-style: solid;
	margin-bottom: 3px;	
}
/* selecting Add page doens't change class to On, so checkbox is always empty */
.EXLFacetContainer div.EXLFacetActionsV2 li.EXLFacetSaveToEShelfActionOff  {
	/*background-image: url(../HVD/icon_checkbox_off.png);*/
	background-image: none;
	margin-left: -10px;
}
.EXLFacetContainer div.EXLFacetActionsV2 li.EXLFacetSaveToEShelfActionOn  {
	/*background-image: url(../HVD/icon_checkbox_on.png);*/
	background-image: none;
} 
/* making RSS an easter egg so staff can help test */
.EXLFacetContainer div.EXLFacetActionsV2 li.EXLFacetRSSAction {
	background-image:none;
	margin-bottom: 10px;
}
.EXLFacetContainer div.EXLFacetActionsV2 li.EXLFacetRSSAction a {
	color:#f8f8f8;
}
/* end RSS easter egg */
.EXLFacetTile {
	border: solid 1px #ededed;
	margin-left: 5px;
}
#exlidFacetsLightboxContainer a.EXLSubmit {
	background-color: #a51c30;
	background-image: none;
}
.EXLResultsContainer div.EXLResultsTile {
	border-left: none;
	padding-left: 0px;
	width: 78%;
}
.EXLFacetContainer div.EXLFacetActionsV2 {
	/* border-top: 0px; */
}
.EXLDateRangeLine {
	font-size: 85%;
}
/* Facet counts on the right */
.EXLFacetContainer ol li span {
	float: right;
	margin-right: 1em;
	display: block;
}
/* date Slider  */
.datebox {
	border: solid 1px #8C8179;
}
.EXLDateRangeLine {
	font-size: 85%;
}
#startdate, #enddate {
	width: 30px;
}
#slider-range {
	width: 75%;
	margin-left: 20px;
}
.EXLSliderRefine a, .EXLSliderRefine a:link, .EXLSliderRefine a:visited, .EXLSliderRefine a:active, .EXLSliderRefine a:hover {
	background-color: #a51c30;
	color: #ffffff;
}
#slider-range .ui-state-default {
	color:#000;
}
.EXLAdditionalFacetEXLHiddenFacetCreationDate {
	display:none; 
}


/* Removing Search Suggestions */
#exlidSuggestedList {
        display: none;
}


/* Spacing the results a bit further apart */
.EXLResultsList td.EXLSummary {
	padding-top: 10px;
	padding-bottom: 0px
}
.EXLTabsRibbonClosed {
	margin-bottom: 1em;
}
/* Result Numbering */
.EXLResultsList td.EXLResultNumber {
	width: 15px;
	padding-top: 18px;
	display: table-cell;
}
.EXLResultsList td.EXLThumbnail {
	padding-top: 18px;
}
.EXLResultsList td.EXLThumbnail span.EXLThumbnailCaption {
	font-size: 90%
}
.EXLResultsList td.EXLMyShelfStar {
	padding-top: 18px;
	padding-left: 0.3em;
}
.EXLResultsList td.EXLThumbnail img {
	width: 43px;
	height: 65px;
}
.multipleCoverImageContainer {
	width: 43px;
	height: 65px;
	background-size: 100%; 
}
.EXLTabsRibbon div li.EXLResultFirstTab {
	padding-left: 0.8em;	
}
/* changing default icons for resource types to local versions */
.EXLResultMediaTYPEarchive_manuscript .multipleCoverImageContainer {
   background-image: url(../HVD/icon_mss.png); 
}
.EXLResultMediaTYPEobject .multipleCoverImageContainer {
   background-image: url(../HVD/icon_object.png); 
}
.EXLResultMediaTYPEscore .multipleCoverImageContainer {
   background-image: url(../HVD/icon_score.png); 
}
/* changing default icons for resource types to different OTB icons */
.EXLResultMediaTYPEsound_recording .multipleCoverImageContainer {
   background-image: url(../../images/icon_audio.png); 
}
.EXLResultMediaTYPEcomputer_file .multipleCoverImageContainer {
   background-image: url(../../images/icon_research_dataset.png); 
}
/* commenting out availability for now -- CB 20140607 */

.EXLResultAvailability {
	display:none;
}
.EXLResultsList p.EXLResultSnippet {
	margin-left: 10px;
	margin-top: 5px;
}

/* Locations fixes */
.EXLLocationList {
	padding-bottom: 20px;
}
.EXLLocationsTitle {	
	width: 27%;
	padding-top: 10px;
	margin-bottom: 7px;
}
.EXLLocationsTitle a.EXLLocationsIcon img {
	padding-top: 3px;
}
.hvdLibInfo img {
	margin-bottom: -3px;
	margin-left: 6px;
}
.EXLLocationsTitle span.EXLLocationsTitleContainer {
	float: left;
	margin-left: 25px;
	font-size: 14px;
	font-weight: bold;
	color: #1E1E1E;
	width:auto;
}
.EXLLocationsTitle a.EXLLocationsIcon {
	margin-right: -11px;
}
.EXLLocationInfo {
	width: 70%;
	padding-top: 12px;
	margin-left: 5px;
	float: left;
}
.EXLLocationInfo strong {
	width: 27%;
	font-size: 14px;
	font-weight: bold;
	color: #1E1E1E;
}
.EXLLocationInfo cite {
	width: 43%;
	/* display:none; */
}
.852zlink {
	line-height: 100%;
}
.EXLLocationInfo cite a {
	line-height: 100%;
}
.EXLLocationInfo em {
	width: 21%;
	float: right;
}
.EXLLocationsMoreInfo strong {
	font-style:italic;
}
.EXLLocationsMoreInfo strong {
	font-weight: normal;
	font-style:normal;
	padding-bottom: 8px;	
}
.EXLLocationsMoreInfo strong a{
	font-weight: bold;
	margin-left: 8px;
}
.EXLResultsList em.EXLResultStatusAvailable {
	float: right;
}
.EXLResultsList em.EXLResultStatusMaybeAvailable{
	display:none;
}
/* 20150830 CB commenting avail status facet for now due to bug see case 00164999
.EXLFacetContainer  li.EXLFacet a[href*="fctV=available"] {
	display:none;
}
.EXLFacetContainer  li.EXLFacet a[href*="fctV=available"] + span.EXLParenthesis {
	display:none;
}
 end temp section for bug case  00164999*/
.EXLLocationsTabContent h4 {
	display:none;
}	
.EXLLocationsTabContent div.EXLLocationViewAllLink {
	background-color: #C3D7A4;
}
/* start lightbox area */
.EXLLocationsTabSummaryHoldingsMoreLightBox {
	display:block;
	margin-right:15px;
	padding-top: 2px;
}
.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerWhiteFrameBorder {
	border: 0px none #fff;
}
.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerGreyFrameBorder {
	border: 0px none #fff;
}
.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerOrangeBar {
	display: none;
}
table.EXLLocationsTabSummaryHoldingsMoreLightBox tr {
	font-size: 100%;
	color: #000;
	line-height: 12px;
}
table.EXLLocationsTabSummaryHoldingsMoreLightBox tr span{
	line-height: 14px;
}
table.EXLLocationsTabSummaryHoldingsMoreLightBox td {
	border-bottom: 0px none #000;
	padding-bottom: 2px;
}
.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerDataLabel {
	padding-left: 0px;
	padding-bottom: 0px;
}
.EXLLocationsMoreInfo strong {
    font-weight: bold;
	padding-bottom: 0px;
}
.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerValue {
    padding-top: 0px; 
    padding-bottom: 3px; 
}
table.EXLLocationsTabSummaryHoldingsMoreLightBox tr:nth-child(even) {
	background-color: #fff;
}
/* end lightbox area */
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable{
	margin-top: 10px;
	margin-left: 15px;
	table-layout:fixed
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable td.EXLShowInfo a {
	/* background-image:none; */
	color:#000;
}
/* this is the items table collection column */
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable th.EXLLocationTableHeaderColumn0  {
	width: 160px;
	padding-right:7px;
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable .EXLLocationTableMargin {
	padding-left: 1.4em;
	width: 160px;
	padding-right:7px;
	word-wrap:break-word
}
/* call no desc */
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable th.EXLLocationTableHeaderColumn1  {
	width: 180px;
	padding-right:12px;
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable td.EXLLocationTableColumn1 {
	width: 180px;
	padding-right:12px;
	word-wrap:break-word
}
/* item status */
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable th.EXLLocationTableHeaderColumn2  {
	width: 260px;
	padding-right:7px;
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable td.EXLLocationTableColumn2 {
	width: 260px;
	padding-right:7px;
	word-wrap:break-word
}
/* barcode */
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable th.EXLLocationTableHeaderColumn3  {
	width: 115px;
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable td.EXLLocationTableColumn3 {
	width: 115px;
	/* color:#BAC5C6; */
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable th {
	padding-bottom: 0.4em;
	border-bottom: none;
	color: #293352;
	background-color:#ffffff;
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable th.EXLLocationTableHeaderColumn3 {
	/* color:#BAC5C6; */
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable tr {
	background-color:#f3f3f3;
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable tr.EXLLocationTableRowBgColor {
	background-color:#ffffff;
}
.EXLLocationsTabSummaryHoldings {
	border: none;
	background-color: #fff;
}
.EXLLocationsTabSummaryHoldingsContent {
	padding: 5px 10px 5px 0px;
}
.EXLLocationsTabSummaryHoldingsContentLine {
	margin-bottom: 2px;
}
.EXLLocationsTabSummaryHoldingsContentLineMoreLine {
	padding-bottom: 3px;
	padding-top: 3px;
	border: 1px #a51c30 solid;
	width: 154px;
	padding-left: 5px;
	margin-top: 5px;
}
.EXLLocationsTabSummaryHoldingsMoreLightBoxContainerOrangeBar {
	border-bottom: 2px solid #a51c30;
}
/* Action Menu drop down adjustments */
.EXLTabHeader div.EXLTabHeaderButtons li {
	height: 22px;
	padding-top: 5px;		
}
.EXLTabHeader div.EXLTabHeaderButtons li {
	background-image: none;
}
.EXLTabHeader div.EXLTabHeaderButtons li span {
	background-image: none;	
}
.EXLTabHeaderButtonSendTo {
	padding-right: 0.7em;
	font-weight: bold;
	background-color: #FFDB6D;
}
.EXLTabHeaderButtonSendTo img {
padding-left: 0.5em;
padding-right: 0.4em;
}
.EXLTabHeaderButtons ol.EXLTabHeaderButtonSendToList li.EXLButtonSendToEasyBib {
	display:none;
}
/* Facet Title changes
.EXLFacetContainer h4 {
	font-size: 14px;
	padding-bottom: 2px;
	font-weight: bold;
	color: #000000;
} */

/* Search Button  */
.EXLSearchFieldRibbonFormFields {
	width: 87%;
}
.EXLSearchFieldRibbonFormSubmitSearch {
	width:13%;
	float: right;
	margin-right: -3px;
}
#exlidSearchRibbon input {
	padding: 2px;
}
#exlidSearchRibbon input.submit {
	background-color: #a51c30;
	background-image: url(../images/_blank.png);
	height:32px;
	/* padding:0px; */
	border-color: #a51c30;
	padding-top: 6px;
	margin-top: -1px;
	/* text-transform: uppercase; */
	font-weight: bold;
	font-size: 15px;	
}

/* TABS RIBBON */

.EXLTabsRibbon {
    height: 2em;
    border-bottom: none;	
}
.EXLTabsRibbon div li.EXLResultFirstTab {
	padding-left: 0em;
}
.EXLTabsRibbon div li.EXLResultTab {
	padding-top: 10px;
}
.EXLTabsRibbon div li.EXLResultTab a {
	color:#293352;
}
.EXLTabsRibbon div li.EXLResultTab a:hover {
	color:#a51c30;
	text-decoration:none;
}
.EXLTabsRibbon div li.EXLResultSelectedTab {
	border: 1px solid #e4e4e4;
	border-bottom: 2px solid #f1f1f1;
	background-image:none;
	height: 1.9em;
	background-color: #f1f1f1;
	margin-left:0px;
}
.EXLTabsRibbon div li.EXLResultSelectedTab a {

}
.EXLResultTabContainer div.EXLTabHeader {
	background-image:none;
	border: 1px solid #e4e4e4;
}
.EXLTabContent {
	border: 1px solid #e4e4e4;
	border-top-color: #ffffff;
	box-shadow: 5px 5px 2px #888888;
}
body.EXLFullView div.EXLTabContent{
	border: 1px solid #BAC5C6;
	border-top-color: #ffffff;
	min-height: 30em;
}
/* Finding aids tab */
.EXLFindingAids img {
	margin-left: 5px;
}
/* Hide Request tab */
.EXLTabsRibbon div li.EXLRequestTab {
	display:none
}
/* Hide request options header, so ScanDel links etc. options don't appear */
.EXLTabHeaderContent #HoldRequestBtn  {display:none;}
.EXLTabHeaderContent #PhotocopyRequestBtn  {display:none;}
.EXLTabHeaderContent #BookingRequestBtn  {display:none;}
.EXLTabHeaderContent #BookingRequestBtn  {display:none;}
.EXLRefreshRequestLink {display:none;}
.EXLRequestTabContent form table td {
	height: 10px; 
}
/* hiding hold request patron notes 1 and 2, using jquery to display for OR,RE */
.EXLRequestTabContent label[for^='exlidRequestTabFormInputComment'] {
	display:none;
}
.EXLRequestTabContent input[id^='exlidRequestTabFormInputComment'] {
	display:none;
}
/* Hide the More tab */
.EXLTabsRibbon div li.EXLMoreTab {
	display:none
}
/* Hide the Reviews and Tags tab */
.EXLTabsRibbon div li.EXLReviewsTab {
	display:none
}
.EXLTabsRibbon div li.EXLViewOnlineTab {	
	background-image: none;
	margin-right: 7px;
	/* background-image: url(../../images/icon_available.png); 	
	background-repeat: no-repeat;
	background-position: 0px 2px;
	padding-left:15px;*/
}
.EXLTabsRibbon div li.EXLViewOnlineTab  a {	
	font-weight:bold;
	color:#a51c30;
	background-image: url(../../uploaded_files/HVD/icon_popout_tab_hvdcrimson.png);
	background-repeat: no-repeat;
	background-position: 86px 4px;
	padding-right: 30px;
    border: 1px solid #8C8179;
    border-radius: 5px;
    background-color: #f8f8f8;
    padding: 5px 25px 5px 5px;	
}
.EXLTabsRibbon div li.EXLViewOnlineTab  a:hover {	
	color:#000;
	text-decoration:none;
	background-image: url(../../uploaded_files/HVD/icon_popout_tab_hvdblack.png);
}
.EXLTabsRibbon div li.EXLViewOnlineTab.EXLResultSelectedTab  a {	
	border: none;
	background-color: #f1f1f1;
	color:#293352;
	background-image:none;
	padding: 5px;
}
.EXLTabsRibbon div li.EXLViewOnlineTab.EXLResultSelectedTab  a:hover {	
	background-image:none;
}
.EXLViewOnlineTabContent div.EXLViewOnlineLinks li span.EXLViewOnlineLinksTitle a {
	background-image: url(../../uploaded_files/HVD/icon_popout_tab_hvdcrimsonWhiteBkg.png);
}
.EXLTabsRibbon div li.EXLResultTabIconPopout {
	background-image: none;
}
.EXLTabsRibbon div li.EXLLocationsTab {	
	background-image: url(../../uploaded_files/HVD/locations_icon.png);
	background-repeat: no-repeat;
	background-position: -1px 7px;
	padding-left:22px;
}
.EXLTabsRibbon div li.EXLLocationsTab.EXLResultSelectedTab {
	background-position: 2px 7px;
    padding-left: 24px;
}
/* Details tab TOC */
.EXLTabHeader div.EXLTabHeaderContent {
	color:#f1f1f1;
}
.EXLTabHeader div.EXLTabHeaderContent a:hover{
	text-decoration:none;
	color:#a51c30;
}
.EXLTabHeader div.EXLTabHeaderContent span.selected{
	padding: 3px;
	border: 1px solid #8C8179;
}
/* Details tab (Alon B modified first line */
body.EXLFullView div.EXLResultsList h1.EXLResultTitle {
	padding-top: 20px;
}
.EXLDetailsTabContent div.EXLDetailsContent  > ul > li {
    position: relative;
    margin-left: 11em;
}
.EXLDetailsTabContent div.EXLDetailsContent li strong {
    position: absolute;
    left: -11em;
    width: 10em;
    text-align: right;
}
.EXLDetailsContent .detailsViewLocation {
	margin-top: 30px;
	font-weight: bold;
}
.EXLDetailsTabContent div.EXLDetailsContent .detailsViewLocation > ul > li {
	margin-left: -10em;
	background-image: url(../../uploaded_files/HVD/locations_icon.png);
	background-repeat: no-repeat;
	background-position: -2px -2px;
	padding-left: 21px;
}
/* Shore more layers for HGL FGDC layers, CB 20150608 */
.EXLDetailsDisplayValShowMore {
	background-image: url(../../uploaded_files/HVD/icon_locations_plus_hvd.png);
	background-repeat: no-repeat;
	margin: 5px 0px;
	padding-left: 25px;
	display: block;
}
/* Links and Electronic Book Plates */
.EXLDetailsTabContent div.EXLDetailsLinks em {
	display: block;
    padding-bottom: 5px;
}
.EXLDetailsTabContent div.EXLDetailsLinks li span.EXLDetailsLinksTitle a:link, a:visited, a:active {
	color: #a51c30;
}
.EXLDetailsTabContent div.EXLDetailsLinks {
	width: 225px;
	background-image:none;
	background-color:#F3F3F3;
}
.EXLDetailsTabContent div.EXLDetailsContent {
	width: 55%;
	margin: 1em 1em 1em 1em;
}
.EXLDetailsTabContent div.EXLDetailsLinks li {
	height:16px;
	padding-left: 4px;
}
.EXLDetailsTabContent div.EXLDetailsLinks li div.ebkplate {
	align-content: center;
	/* text-align: center; */
	width: 186px;
	/* background-color: #F3F3F3; */
	padding: 5px;
	margin: 0px 5px 5px 0px;
}
.EXLDetailsTabContent div.EXLDetailsLinks li div.ebkplate_text {
	margin-top: -5px;
	margin-left: -5px;
}
.EXLDetailsTabContent div.EXLDetailsLinks li div.ebkplate_img  {
	text-align: center;
}
.EXLDetailsTabContent div.EXLDetailsLinks li div.ebkplate_img img {
	margin-top: 5px;
}
.EXLDetailsTabContent div.EXLDetailsLinks li span.EXLDetailsLinksTitle a {
	width: 90%;
	margin-bottom: 3px;
}
.EXLDetailsTabContent div.EXLDetailsLinks li span.EXLDetailsLinksBullet {
	height:16px;
}
.EXLDetailsTabContent div.EXLDetailsLinks li.EXLFullDetailsGoogleBookItem {
	margin-top: 5px;
    display: block;
}
.EXLDetailsTabContent div.EXLDetailsLinks li.hvd_hathi {
    background-image: url(../../images/icon_available.png);
    background-repeat: no-repeat;
    background-position: 0px 2px;
}
.EXLDetailsTabContent div.EXLDetailsLinks li.hvd_hathi span.EXLDetailsLinksBullet {
    padding-left:1px;
}
/*---Removing Languages drop-down from main menu---*/
#exlidMainMenuTile div.EXLLanguagesContainer {
    display: none
}
#exlidMainMenuTile div.EXLMainMenuContainer {
    float: right;
    width: 40em;
}

/*---Removing Subscribe to Library News Feeds button from search bar---*/
#exlidSearchBanner {
    display: none
}

/*---Removing star next to e-shelf in top user menu---*/
/*---  .EXLMyShelfStarSelected {display:none;}  ---_NO__DOTCOMMA__AFTER__*/
/*---To prevent line breaks around hyperlinks in static htmls---*/
#exlidHomeContainer div.EXLHomeBlockContainer1 div.EXLContentBlock1 p a {
    display: inline
}

.EXLFooterTile {
	border-top:0px;
}
/*---Removing Last Update line---*/
/*Footer Styles*/
.EXLFooterTile div.EXLFooterUpdateContainer div.EXLFooterLastUpdate {
    display: none
}

/*---Changing width of footer---*/
.EXLFooterTile div.EXLFooterLinksContainer {
    width: 100%
}
/*---Hide top-level facets including Primo Central Options---
.EXLTopLevelFacetList {
    display: none
}

/*---Remove pipe | after items main menu---*/
#exlidMainMenuRibbon li span {
    border-right: 0px;
}
/* add crimson bullet to main menu ribbon items */
#exlidMainMenuRibbon li {
	/* background: url(http://library.harvard.edu/sites/all/themes/HarvardLibraryPortalTheme/images/squarebullet.gif) no-repeat 0px 4px; */
	padding:0px 10px 0px 7px;
}
#exlidMainMenuRibbon li a {
	color:#a51c30;
	font-weight:bold;
}	

/*---Hide &amp;#034;Update my screen automatically&amp;#034;---*/
.EXLFooterAutoUpdate {
    display: none
}

/*---Remove &amp;#034;o&amp;#034; from left side of e-shelf
.offstage {
    display: none
}
#exlidAdvancedSearchRibbon div.EXLSearchFieldRibbon {
    height: 180px
}---*/

/*
#exlidHeaderSearchLimits {
    width: 100%;
    nowhitespace: afterproperty;
    border-bottom: 1px solid #f3f3f3;
    background-color: #f3f3f3;
    color: #666666;
    height: 2em;
    display: none;
    change to display: block to show system feedback;
}
*/


/*---Removing MyAccountTab from e-shelf sub-menu---*/
/* .EXLMyAccountTabsRibbon div li.EXLMyAccountLastTab {
	display:none;
} _NO__DOTCOMMA__AFTER__*/

/*---Removing option to save email address from &amp;#039;Send By E-mail&amp;#039; screen---*/
.EXLEmailDetailsWideCell {
    display: none
}




#exlidHeaderContainer {
    margin-top: -12px;
    position: relative;
    height: auto;
    width: 100%;
    background-color: #FFFFFF;
}

/* Try changing width of header image */
/* and positioning */
#exlidHeaderTile { 
	width:100%; 
	position:relative; 
	padding-left:0.8em; 
	padding-top:0.8em;
	padding-bottom:0.3em;
	min-height: 92px;
}

/* add metalib+ logo information */
#hl-mplogo {
    cursor: pointer;
    width: 204px;
    height: 40px;
    float: left;
    clear: both;
}
#exlidMainMenuTile {
    vertical-align: text-top;
    width: 49em;
    float: right;
    clear: right;
    margin-top: 0.8em;
    margin-bottom: 0em;
}

/* begin user area customization - My Account etc. */
.EXLMyAccountTabsRibbon {
	border-bottom: 2px solid #a51c30;
}
.EXLMyAccountTabsRibbon div li {
	width:auto;
}
.EXLMyAccountTabsRibbon div li.EXLMyAccountSelectedTab {
	border: 1px solid #a51c30;
	border-bottom: 2px solid #a51c30;
	background-color: #a51c30;
	background-image: none;
}
.EXLMyAccountMainMenuContainer ol li span.EXLMyAccountMainMenuBulletSelected {
	background-image: url(../HVD/bullet_myAccount_menu_hvd.png)
}
.buttonGo a {
	background-color: #F4EDCA;
}
/* hide edit button until 4.8 */
/* a#editPersonalDetails {
	display:none;
} */
table#ilsFields #address_1 {display:none;}
table#ilsFields #address_2 {display:none;}
table#ilsFields #address_3 {display:none;}
table#ilsFields #address_4 {display:none;}
table#ilsFields #address_5 {display:none;}
table#ilsFields #zip {display:none;}
table#ilsFields #address_valid_from {display:none;}
table#ilsFields #address_valid_to {display:none;}
table#ilsFields #telephone_1 {display:none;}
table#ilsFields #telephone_2 {display:none;}
table#ilsFields #telephone_3 {display:none;}
table#ilsFields #telephone_4 {display:none;}
table#ilsFields #sms_authorized {display:none;}
table#ilsFields #mail_attachement {display:none;}
table#ilsFields #email {display:none;}
/* hide cancel option in requests list */
#requestList .EXLMyAccountTableActions {
	display:none;
} 
.MyAccount_Requests_cancel {
	display:none;
}
.EXLMyAccountTableRSS  {
	display:none;
}
.EXLMyAccountTableRSSLink {
	display:none;
}
/* end user area customization - My Account etc. */
/* begin e-shelf, My Research */
.folders_new .folderActions {
	background-color:#f6f6f6;
	font-weight: bold;	
	font-family: Arial,verdana;
	padding-top: 10px;
}
.folders_new .folderActions::before {
	content:"Folder actions: ";	
	padding-left: 18px;
}
.folders_new .folderActions LI A.deleteFolder_but {
	background:url(../../uploaded_files/HVD/folders_delete_but_hvd_excl.png) repeat-y left top;
	width: 35px;
}
/* end e-shelf, My Research */
/* begin My Databases */
#exlidFindDBContainer input.EXLSubmit {
	background-color: #a51c30;
	background-image: none;
}
.EXLFindDBTabsRibbon div li.EXLFindDBSelectedTab {
	border: 1px solid #a51c30;
	border-bottom: 2px solid #a51c30;
	background-color: #a51c30;
	background-image: none;
}
/* end My Databases*/

/* begin requests*/
.EXLRequestTabContent form input.submit {
	background-color: #a51c30;
	background-image: none;
}
/* end requests */


/* Alon B: Loading wheel for locations */
.HVD_LoadingWheel {
	display: block;
	padding-left: 10px;
}

.HVDExpandAll {
	position: relative;
	left: 28px;
	margin-top: 8px;
	margin-bottom: 8px;
	font-weight: bold;
	cursor: pointer;
	color: #A51C30;
}

/* Alon B: Borrow Direct links: */
div.borrowDirect {
	float: left;
	margin: 15px;
}	  

span.borrowDirectHeader {
	display: block;
	font-size: 14px;
	font-weight: bold;
}

span.borrowDirectText {
	display: block;
	margin-left: 10px;
	margin-top: 5px;
}

/* Alon B: VRA search result thumbnails
/* Alon B: VRA gallary and displays */
.EXLDetailsContent li[id^='lds20'] {
	display: none;
}
.EXLDetailsContent li[id^='lds21'] {
        display: none;
}
.EXLDetailsContent li[id^='lds22'] {
        display: none;
}
/* CB SKC indicator */
.EXLDetailsContent li[id^='lds41'] {
        display: none;
}
/* CB HGL layers */
.EXLDetailsContent li[id^='lds40'] {
        display: none;
}
li[id^='Summary'] i {
  display: block;
}
.VIAGallary { 
	display: block; 
	width: 135%;
	margin: 0px 26px 26px 26px;;
}

.VIAGallaryHeader {
	display: block;
	font-weight: bold;
	margin: 26px 26px 0px 26px;
	width: 120%;
	border-bottom: 1px solid #a51c30;
}

div.VIAThumbnail {
	float: left;
	margin: 10px 10px 10px 10px;
	height: 210px;
}
.VIAThumbnail table {
	width: 160px;
	height: 200px;
	border-spacing: 0px;
}
tr.VIAThumbnailImage {
	height: 160px;
}


.VIAThumbnail table tr:hover {
	background-color: white;
}
.VIAThumbnail table td  {
	vertical-align: middle;
	text-align: center;
	padding: 0px 0px 10px 0px;

}

.VIAThumbnail img {
	padding: 0px;
	max-width: 150px;
	max-height: 150px;
	height: auto;
	width: auto;
}

.VIAThumbnailImageWrapper {
	position: relative;
	display: initial;
}

.VIARestrictedThumbnail {
	position: absolute;
	right: 0;
	bottom: 5px;
}

.VIAThumbnail .VIAMetaDataTable, .VIAThumbnail .VIAMetaDataSubTable, .VIAThumbnail .tableSeperator  {
	display: none;
}

.fancybox-inner img {
	max-height:650px;
}
.VIAMetaDataKey {
	text-align: right;
	padding-right: 10px;
	vertical-align: top;
	width: 100px;
}

.VIAMetaCaption {
	font-size: 1em!important;
	margin-bottom: 14px;
	margin-top: -10px;
}

.VIAMetaDataTable {
	width: 100%;
	font-size: 14px;
	border-spacing:0px;
}

.VIAMetaDataSubTable {
	width: 100%;
	font-size: 12px;
	border-spacing:0px;
}

#VIAbookmarkLink {
padding-top: 10px;
color: #a51c30;
font-weight: bold;
}

.tableSeperator {
	margin-top: 0.4em;
	margin-bottom: 0.5em;
	border-width: 0px;
	background-color: #ddd;
	height: 5px;
}


div.EXLBriefResultsDisplayCoverImageNUM0 img.EXLBriefResultsCover {
	width: auto;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%); /* IE 9 */
	-webkit-transform: translateX(-50%); /* Chrome before 36.0, Safari, Opera */
	left: 50%;
	position: relative;
}

.EXLThumbnail div.coverImageDiv {
	overflow: hidden;
	width: 43px;
}

/* Scanned Key Content , SKC*/
#skcGalleryHeader {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight:bold;
}
div[id^='skcGallery-'] { 
	width: 160%;
}
.skcItem {
  float: left;
  margin-right: 20px;
  margin-bottom: 15px;
}
.skcItem  img {
  margin-bottom: 5px;
}
.skcLabel {

}

/* HGL STUFF */
.EXLDetailsTabContent div.EXLDetailsMap {
  width: 225px;
  float: right;
  border: 1px solid #e1e1e1;
  margin: 1em;
  background-image: none;
  background-color: #F3F3F3;
  background-repeat: repeat-x;
  background-position: bottom;
  height: auto;
  padding: 0.5em;
  padding-bottom: 1em;
}

.EXLDetailsMap em {
	margin-bottom: 5px;
	display: block;
}
/* -------------------------------------- */
	    		
.detailsLinksAndMap {
  width: 225px;
  float: right;
}

.leaflet-container {
	margin-top: 5px;
}

.EXLDetailsDisplayValHidden {
	display: none;
}
/* Citation Trail */
cite.EXLCitationTrailsIndicationContainer {
	display:none;
	margin-top: 19px;
}
div[id^='citationTrails_'] { 
    background:url(../../uploaded_files/HVD/beta_sticker_44px.png) no-repeat 0px 0px;
}
.citeBtn a:link, .citeBtn a:visited {
	border: 1px solid #4E84C4;
	color:#4E84C4;
	padding: 5px;
}
.citeBtn a:hover, .citeBtn a:active {
	background-color: #4E84C4;
	color:#FFFFFF;
}
/* local barcode search */
div.barcodeSearchRow {
	display: inline;
	margin-left: 68px;
}
.barcodeSearchRow label {
	margin-right: 10px;
}
input#barcodeInput {
	width: 112px;
}
div#search_barcode {
	display: inline;
	border:1px solid #000;
	padding:3px 5px;
	margin-left:5px;
	background-color:#e4e4e4;
	cursor: pointer;
}
div#apiCitation {
	margin-left: 15px;
    margin-bottom: 100px;
}
div#apiCitation  h2 {
	color: #8c8c8c;
    font-weight: bold;
    font-size: 120%;   
	padding: 2px 4px;
    width: 80%;
	border: solid 1px #e4e4e4;
	margin-bottom: 15px;
	margin-left:-2px;
	background: #fafafa;
}
div#apiCitation a {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 3px;
    display: block;	
}

  	
