.mobilehide {
	display:none;
}
/* search box */
#exlidSearchRibbon input {
	border: 1px solid #777676;
	height:36px;
}
#exlidMainMenuTile div.EXLLanguagesContainer ul.EXLLanguageMenuShow li.EXLLanguageLink {
	display:none;
}
#exlidSearchTileWrapper {
	position: relative;
    z-index: 0;
}
#exlidSearchTile {
	padding-top: 55px;
}
/* Search Tabs */
#exlidSearchTabs {
	display: block!important;
}
.EXLHomeNewsContainer {
	padding-left:0px;
}
body.EXLFullView div.EXLTabsRibbon {
	border-bottom:none;
}
body.EXLFullView div.EXLTabsRibbon div ul {
	margin-left:0px;
}
/* Hide Request tab */
body.EXLFullView div.EXLTabsRibbon div li.EXLRequestTab {
	display: none;
}
/* Hide Virtual Browse tab */
body.EXLFullView div.EXLTabsRibbon div li.EXLBrowseshelfTab  {
	display: none;
}
/* hide the dot */
.EXLTabsRibbon div li.EXLViewOnlineTab {
	background-image: none;
}
.EXLTabsRibbon div li.EXLViewOnlineTab a {
	font-size: 13px;
}
/* Locations tab */
.EXLLocationsTitle {
	width: 100%;
}
.EXLLocationsTitle span.EXLLocationsTitleContainer {
	margin-left: 10px;
}
.EXLLocationsTitle span.EXLLocationsTitleContainer a {
	margin-right: 0px;
}
.EXLLocationInfo {
	width: 100%;
	padding-top: 0px;
}
.EXLLocationInfo strong {
	width: 100%;
}
.EXLLocationInfo cite {
	display: none;
}
.EXLLocationsMoreInfo {
	margin-left: 1em;
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable tr.EXLLocationTitlesRow {
	display: none;
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable .EXLLocationTableMargin {
	padding-left: 0em;
}
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable td {
	display: block; 
}
/* hide barcode */
.EXLLocationsTabContent div.EXLLocationList table.EXLLocationTable td.EXLLocationTableColumn3 {
	display: none; 
}
.EXLResultsList em.EXLResultStatusAvailable {
	width: 95%;
}
.EXLResultsList em.EXLResultStatusNotAvailable {
	width: 95%;
}
/* hide reset button on request form */
.EXLRequestTabContent form span.reset {
	display: none;
}
/* Details tab */
.EXLDetailsTabContent div.EXLDetailsContent li strong {
	position: relative;
	left: 0em;
	width: 0em;
	text-align: left;
}
.EXLDetailsTabContent div.EXLDetailsContent > ul > li {
	margin-left: 0em;
}
/* My Account */
.EXLMyAccountMainMenuContainer ol {
	min-height: 0.5em;
}
.EXLMyAccountMainContainer table thead tr:nth-child(2){
	display: none;
}
/*.EXLMyAccountMainContainer table th.EXLMyAccountTable {
	display: none;
} */
.EXLMyAccountMainContainer table td {
	display: block;
}
.EXLMyAccountMainContainer table td.MyAccount_Loans_1.MyAccount_Loans_select {
	margin-top: 20px;
    margin-bottom: 20px;
}
.EXLMyAccountMainContainer table td.MyAccount_Loans_1.MyAccount_Loans_select input {
	height: 20px;
    width: 20px;
	border: 1px solid black;
    outline: black;
}
.EXLMyAccountMainContainer table td.MyAccount_Loans_2.MyAccount_Loans_title {
	display: block;
}
.EXLMyAccountMainContainer table td.MyAccount_Loans_3.MyAccount_Loans_author {
	display: none;
}
.EXLMyAccountMainContainer table td.MyAccount_Loans_4.MyAccount_Loans_dueDate {
	display: block;
}
.EXLMyAccountMainContainer table td.MyAccount_Loans_6.MyAccount_Loans_fine {
	display: none;
}
.EXLMyAccountMainContainer table td.MyAccount_Loans_7.MyAccount_Loans_location {
	display: none;
}
.EXLMyAccountMainContainer table td.MyAccount_Loans_8.MyAccount_Loans_renewal {
	display: block;
}

/* Harvard Library Banner and other header area  - adjustments for Primo mobile */
/* note there are also settings in banner.css */
#hlp {
	position:absolute;
	z-index:99;
	left: 0px;
    top: 0px;
}
#hlp ul li#hlp_log a {
	margin-top: 12px;
	height: 59px;
	background: url("../uploaded_files/HVD/logo_v.png") no-repeat center center, #F3F3F1;
}
#hlp ul li#hlp_logo img{
	top:1;
	margin-top: 12px;
	width: 80px;
}
#hlp ul li#hlp_pennant {
	margin-top: 12px;
}
#hlp ul li#hlp_menu {
	top:1;
	margin-top: 12px;
	height: 59px;
}	
#exlidHeaderTile img {
	width: auto;
}
#exlidUserAreaRibbon.EXLEShelfTileGuest li span.EXLUserNameDisplay {
	background-image:none;
}
#exlidUserAreaTile ul {
	padding-top: 75px;
}
/* end Harvard Library Banner - adjustments for Primo mobile */